<body>
    <navigation-bar></navigation-bar>  
    <!--<div class="container">
    <modal></modal>-->
    <div class="container">
        <div class="default-list" role="main" style="position: relative;height: 50%">
        	<button class="btn btn-default" style="top: 50%;position: relative;" (click)="newPostTypeAction()">Novo Tipo de Postagem</button>
            <div style="top: 50%;position: relative;">
                <label *ngIf="errorMessage" class="alert alert-danger" > 
                    {{errorMessage}}
                </label>
            </div>
            <select [(ngModel)]="currentApp" *ngIf="isLoaded" [disabled]="loading"  #app (change)="changeAppAction(app.value)" class="form-control" style="top:50px;position: relative;">
                    <option *ngFor="let application of apps; let i = index" value="{{i}}">{{application.name}}</option>
            </select>
            <div *ngIf="!errorMessage">
                <div class="text-center" style="top: 50%;position: relative;">
                    <h4 *ngIf="isLoaded && (!apps || apps.length == 0)" > Não há Aplicativos</h4>
                </div>
                
                <div *ngIf="loading" style="top:200px;left:45%;height:30px;width:30px;position: relative;">
                    <loading-indicator></loading-indicator>
                </div>

                
                <div *ngIf="!loading && isTypesLoaded && appPostTypes && appPostTypes.length > 0" style="top: 60px;position: relative;">
                    <ul   class="list-group" style="position: relative;">
                    <li *ngFor="let type of appPostTypes; let i = index" (click)="selectTypePost(i)" class="list-group-item" >
                        <button  class="button-list" >{{type.cod}} - {{type.description}} </button>
                        <!--<button style="height:50px;width:50px" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button> --></li>
                    </ul>
                </div>
                
            </div>
            <div class="text-center" style="top: 50%;position: relative;">
                <h4  *ngIf="!errorMessage && !loading && isTypesLoaded && (!appPostTypes || appPostTypes.length == 0)"> Nenhum tipo de postagem para este Aplicativo</h4>
            </div>
        </div>
        <div class="default-list-form">
            <posttype-form></posttype-form>
        </div>
    </div>

   
    <modal-view></modal-view>
</body>