<body>
    <navigation-bar></navigation-bar>  
    <!--<div class="container">
    <modal></modal>-->
    <div class="container">
        <div class="default-list" role="main" style="position: relative;height: 50%">
        	<!--<button class="btn btn-default" style="position: relative;" (click)="newPostTypeAction()"></button>-->
            <div style="top: 50%;position: relative;">
                <label *ngIf="errorMessage" class="alert alert-danger" > 
                    {{errorMessage}}
                </label>
            </div>
            <div *ngIf="!loading && isLoaded && apps && apps.length > 0" style="top:50px;position: relative;">
                <label>Selecione o Aplicativo</label>
                <select [(ngModel)]="currentApp" [disabled]="loading"  #app (ngModelChange)="changeAppAction($event)" class="form-control" style="position: relative;">
                    <option *ngFor="let application of apps" [ngValue]="application">{{application.name}}</option>
                </select>
            </div>

            <div class="text-center" style="top: 50%;position: relative;">
                    <h4 *ngIf="isLoaded && (!apps || apps.length == 0)" > Não há Aplicativos</h4>
            </div>
            <div *ngIf="!errorMessage">
                
                
                <div *ngIf="loading" style="top:200px;left:45%;height:30px;width:30px;position: relative;">
                    <loading-indicator></loading-indicator>
                </div>

                
                <div  *ngIf="!loading" style="top: 60px;position: relative;">
                    <ul   class="list-group default-ul" style="position: relative">
                        <li class="list-group-item" *ngIf="isLoaded">
                            <button class="btn btn-success" style="width:100%" (click)="newPostTypeAction()">Novo Tipo de Postagem<span class="glyphicon glyphicon-plus" style="float:right"></span></button>
                        </li>

                        <li *ngFor="let type of appPostTypes; let i = index" class="list-group-item" >
                            <button (click)="selectTypePost(type)"  class="button-list" >{{type.cod}} - {{type.description}} </button>
                        <!--<button style=" position: relative; float:right;" (click)="clickDeleteButton(type)" class="text-center btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button> -->
                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="text-center" style="top:-50%;position: relative;">
                <h4  *ngIf="!errorMessage && !loading && isTypesLoaded && (!appPostTypes || appPostTypes.length == 0)"> Nenhum tipo de postagem para este Aplicativo</h4>
            </div>
        </div>
        <div class="default-list-form">
            <posttype-form (update)="updatePostType($event)" (register)="registerNewPostType($event)"></posttype-form>
        </div>
    </div>

   
    <modal-view (clickOk)="modalClickOkAction($event)"></modal-view>
</body>