<body>
    
	<div class="container" style="padding-top:50px">
    	<div class="text-center">
        	<h3>AppCivico</h3>
        </div>
    </div>
    {{service.test}}
    <div class="container" style="padding-top:50px">
        <form style="margin:0px auto; max-width:30%" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="alert alert-danger" [hidden] = "!showLoginFailMsg">
                Falha ao autenticar
                E-mail ou senha estão incorretos
            </div>
            <div class="form-group">
                <label >Login</label>
                <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="email@mail.com" [(ngModel)]="email"  ngControl="email" required/>
            </div>
            <div class="form-group">
                <label >Senha</label>
                <input type="password" class="form-control" required [(ngModel)]="password" ngControl="password" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default" style="min-width:48%">Entrar</button>
                <a class="btn btn-default" style="min-width:50%" routerLink="/main" routerLinkActive="active">Cadastrar</a>
                <!--<button type="button" class="btn btn-default" style="min-width:50%" formnovalidate >Cadastrar</button>-->
            </div>
        </form>

        <!--<router-outlet></router-outlet>-->
    </div>
</body>
