<body>
<nav class="navbar navbar-default ">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/main"> 
          App Civico
      </a>
    </div>

    <ul class="nav navbar-nav" >
        <li class="dropdown" dropdown>
          <a  class="dropdown-toggle" dropdownToggle role="button">Aplicativos <span class="caret"></span></a>
          <ul class="dropdown-menu" dropdownMenu role="menu">
            <li role="menuitem"><a class="dropdown-item nav-menu-item" href="">Listar Aplicativos</a></li>
            <li role="menuitem"><a class="dropdown-item nav-menu-item" href="">Cadastrar Aplicativo</a></li>
          </ul>
        </li>
    </ul>

    <ul class="nav navbar-nav" >
        <li class="dropdown" dropdown>
          <a  class="dropdown-toggle" dropdownToggle role="button">Tipos de Perfil <span class="caret"></span></a>
          <ul class="dropdown-menu" dropdownMenu role="menu">
            <li role="menuitem"><a class="dropdown-item nav-menu-item" href="">Listar Tipos de Perfil</a></li>
            <li role="menuitem"><a class="dropdown-item nav-menu-item" href="">Cadastrar Tipo Perfil</a></li>
          </ul>
        </li>
    </ul>

    <ul class="nav navbar-nav" >
        <li class="dropdown" dropdown>
          <a  class="dropdown-toggle" dropdownToggle role="button">Tipos de Postagem <span class="caret"></span></a>
          <ul class="dropdown-menu" dropdownMenu role="menu">
            <li role="menuitem"><a class="dropdown-item nav-menu-item" href="">Listar Tipos de Postagem</a></li>
            <li role="menuitem"><a class="dropdown-item nav-menu-item" href="">Cadastrar Tipo Postagem</a></li>
          </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logOutClick()">Logout</a></li>
    </ul>
  </div>

</nav>
</body>