<body>
    <navigation-bar></navigation-bar>  
    <div class="container text-center" >
        <h2 style="margin: auto;max-width: 60%">Definições iniciais de aplicativos da Nuvem Cívica</h2>
        <p style="top:50px;margin: auto;max-width: 60%; position: relative;">O acesso aos webservices do metamodelo de dados da Nuvem Cívica requer que um código de aplicativo seja informado. Dessa forma, comece por cadastrar seu aplicativo, e em seguida defina os perfis dos seus usuários e os tipos das postagens que irá criar. Acesse <a href="https://github.com/AppCivicoPlataforma/AppCivico" target="_blank">https://github.com/AppCivicoPlataforma/AppCivico</a> para mais informações.</p>
    </div>
</body>