
<nav class="navbar navbar-default" style="width: 100%; padding-right: 20px" role="navigation">
  <!--<div class="container" style="height: 100px" >-->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/principal" routerLinkActive="active"> 
          App Civico
      </a>
    </div>

    <ul class="nav nav-pills" aria-labelledby="dropdownMenu3">
        <li class="dropdown" >
          <a class="dropdown-toggle" role="button" routerLink="/aplicativos" routerLinkActive="active">Aplicativos</a>
        </li>
        <li class="dropdown" >
          <a  routerLink="/tipos-de-perfil" routerLinkActive="active" class="dropdown-toggle" role="button">Tipos de Perfil</a>
        </li>
        <li class="dropdown" >
          <a routerLink="/tipos-de-postagem" class="dropdown-toggle" role="button">Tipos de Postagem </a>
        </li>
        <li class="dropdown" >
          <a routerLink="/hashtags" class="dropdown-toggle" role="button">Hashtags </a>

        </li>
        <li class="dropdown" >
          <a href="https://github.com/AppCivicoPlataforma/AppCivico" target="_blank">Saiba mais</a>

        </li>
        <!--<li class="navbar-right text-center" style="padding-right: 20px"><a (click)="logOutClick()">Sair</a></li>-->

        <li role="presentation" class="navbar-right dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
            {{developerName}}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header"> {{developerEmail}}</li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="/alterar-senha" routerLinkActive="active">Alterar Senha</a></li>
            <li role="separator" class="divider"></li>
            <li><a (click)="logOutClick()">Sair</a></li>
          </ul>
        </li>
    </ul>



<!--</div>-->
</nav>
