
<nav class="navbar navbar-default" style="width: 100%" role="navigation">
  <!--<div class="container" style="height: 100px" >-->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/principal" routerLinkActive="active"> 
          App Civico
      </a>
    </div>

    <ul class="nav nav-pills" >
        <li class="dropdown" >
          <a class="dropdown-toggle" role="button" routerLink="/aplicativos" routerLinkActive="active">Aplicativos</a>
        </li>
        <li class="dropdown" >
          <a  routerLink="/tipos-de-perfil" routerLinkActive="active" class="dropdown-toggle" role="button">Tipos de Perfil</a>
        </li>
        <li class="dropdown" >
          <a routerLink="/tipos-de-postagem" class="dropdown-toggle" role="button">Tipos de Postagem </a>
        </li>
        <li class="dropdown" >
          <a routerLink="/hashtags" class="dropdown-toggle" role="button">Hashtags </a>

        </li>
        <li class="dropdown" >
          <a href="https://github.com/AppCivicoPlataforma/AppCivico" target="_blank">Saiba mais</a>

        </li>
        <li class="navbar-right text-center" style="padding-right: 20px"><a (click)="logOutClick()">Sair</a></li>

    </ul>



<!--</div>-->
</nav>
