
<nav class="navbar navbar-default" style="height: 70px" role="navigation">
  <div class="container" style="height: 100px" >
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/main" routerLinkActive="active"> 
          App Civico
      </a>
    </div>

    <ul class="nav navbar-nav" >
        <li class="dropdown" >
          <a class="dropdown-toggle" role="button" routerLink="/apps" routerLinkActive="active">Aplicativos</a>
          <!--<ul class="dropdown-menu" dropdownMenu role="menu">
            <li role="menuitem"><a class="dropdown-item nav-menu-item" href="">Listar Aplicativos</a></li>
            <li role="menuitem"><a class="dropdown-item nav-menu-item" href="">Cadastrar Aplicativo</a></li>
          </ul>-->
        </li>
    </ul>

    <ul class="nav navbar-nav" >
        <li class="dropdown" >
          <a  routerLink="/profiles" routerLinkActive="active" class="dropdown-toggle" role="button">Tipos de Perfil</a>
          <!--<ul class="dropdown-menu" dropdownMenu role="menu">
            <li role="menuitem"><a class="dropdown-item nav-menu-item" href="">Listar Tipos de Perfil</a></li>
            <li role="menuitem"><a class="dropdown-item nav-menu-item" href="">Cadastrar Tipo Perfil</a></li>
          </ul>-->
        </li>
    </ul>

    <ul class="nav navbar-nav" >
        <li class="dropdown" >
          <a routerLink="/posttypes" class="dropdown-toggle" role="button">Tipos de Postagem </a>
          <!--<ul class="dropdown-menu" dropdownMenu role="menu">
            <li role="menuitem"><a class="dropdown-item nav-menu-item" href="">Listar Tipos de Postagem</a></li>
            <li role="menuitem"><a class="dropdown-item nav-menu-item" href="">Cadastrar Tipo Postagem</a></li>
          </ul>-->
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a (click)="logOutClick()">Logout</a></li>
    </ul>
  </div>
</nav>
