<body>
    
	<div class="container" style="padding-top:50px">
    	<div class="text-center" style="margin: auto;max-width:40%">
        	<h3>Desenvolvedor na Nuvem Cívica</h3>
            <p >Acesse aqui sua conta de usuário na Nuvem Cívica ou se cadastre para poder definir as configurações iniciais do seu aplicativo.</p>
        </div>
    </div>
    <div *ngIf="loginMode" class="container" style="padding-top:50px">
        <form style="margin: auto; max-width:40%" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="alert alert-danger" [hidden] = "!errorMessage">
                {{errorMessage}}
            </div>
            <div class="form-group">
                <label >Login</label>
                <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="email@mail.com" [(ngModel)]="email"  ngControl="email" required/>
            </div>
            <div class="form-group" style="position: relative;">
                <label >Senha</label>
                <input type="password" class="form-control" required [(ngModel)]="password" ngControl="password" />
                <div style="width: 100%">
                    <a class="btn btn-link" style="min-width: 50%;padding-left: 0px;text-align: left; left:0px;" data-toggle="modal" data-target="#helpModal" >Ajuda <span class="glyphicon glyphicon-question-sign"></span></a>
                    <a class="btn btn-link" style="min-width: 49%;padding-right: 0px ;text-align: right;right: 0px; float: right;" (click)="goToForgetMyPass()">Esqueci minha senha</a>
                </div>
            </div>
            
            <div class="form-group" style="top: -10px; position: relative;">
                <button type="submit" class="btn btn-default" style="min-width:48%">
                    Entrar
                    <div *ngIf="loading" style="top:7px;height:15px;width:15px;float:right;position:relative">
                        <loading-indicator></loading-indicator>
                    </div>
                </button>
                <a class="btn btn-default" style="min-width:50%" routerLink="/cadastro" routerLinkActive="active">Cadastrar</a>
            </div>
           
        </form>

        <div id="helpModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"></button>
                        <h3 class="modal-title">Ajuda</h3>
                    </div>
                    <div class="modal-body">
                    <p class="text-center">
                       Algumas configurações iniciais são necessárias antes que o desenvolvedor possa utilizar os webservices da Nuvem Cívica em seu projeto de aplicativo. A primeira ação do desenvolvedor deve ser a criação de uma conta de usuário, que pode ser iniciada nessa página. Uma vez o cadastro bem-sucedido o usuário receberá seu código de usuário que poderá utilizar para cadastrar seus aplicativos e outras definições de ambiente para eles. Para mais informação acesse o GitHub do projeto Nuvem Cívica em <a href="https://github.com/AppCivicoPlataforma/AppCivico" target="_blank">https://github.com/AppCivicoPlataforma/AppCivico</a>.
                    </p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="min-width: 100px">Ok</button>
                    </div>
                </div>
            </div>
        </div>      
        
    </div>
    <div *ngIf="!loginMode" class="container" style="padding-top:50px">
            <form style="margin:0px auto; max-width:30%" (ngSubmit)="onSubmitForgetPass()" #forgetPassForm="ngForm">
                <div class="alert alert-danger" [hidden] = "!errorMessage">
                    {{errorMessage}}
                </div>
                <div class="alert alert-success" [hidden] = "!successMessage">
                    {{successMessage}}
                </div>
                <div class="form-group">
                    <label >Informe o e-mail para recuração de senha</label>
                    <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="email@mail.com" [(ngModel)]="recoveryEmail"  ngControl="email" required/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" style="min-width:50%" >
                        Confirmar
                        <div *ngIf="loading" style="top:5px;height:15px;width:15px;float:right;position:relative">
                            <loading-indicator></loading-indicator>
                        </div>
                    </button>
                    <button type="button" class="btn btn-default" style="min-width:48%" (click)="cancelForgetMyPass()" >Cancelar</button>
                </div>
            </form>
    </div>  
</body>
