<body>
    <navigation-bar></navigation-bar>  
    <div class="container">
    	<div class="default-list" style="position: relative;height: 50%">
        	<!--<button class="btn btn-default" style="position: relative;" (click)="newProfileTypeAction()">Novo Tipo de Perfil</button>-->
            <div class="text-center" style="top: 50%;position: relative;">
                <h4 *ngIf="isLoaded && (!apps || apps.length == 0)" > Não há Aplicativos</h4>
            </div>
            
            <div style="top: 50%;position: relative;">
                <label *ngIf="errorMessage" class="alert alert-danger" > 
                    {{errorMessage}}
                </label>
            </div>
            <div *ngIf="loading" style="top:200px;left:45%;height:30px;width:30px;position: relative;">
                <loading-indicator></loading-indicator>
            </div>
            <select *ngIf="!loading && isLoaded && apps && apps.length > 0" [(ngModel)]="currentApp" [disabled]="loading || isUpdating" (ngModelChange)="changeAppAction($event)" class="form-control" style="top:50px;position: relative;">
                <option *ngFor="let app of apps" [ngValue]= "app">{{app.name}}</option>
            </select>
            <div *ngIf="!loading && !errorMessage" style="top: 60px;position: relative;">
                <ul  class="list-group default-ul" style="position: relative;">
                    <li class="list-group-item" *ngIf="isLoaded">
                        <button class="btn btn-success" style="width:100%" (click)="newProfileTypeAction()">Novo Tipo de Perfil<span class="glyphicon glyphicon-plus" style="float:right"></span></button>
                    </li>
                    <li *ngFor="let profileType of profileTypes;" (click)="selectProfile(profileType)" class="list-group-item" >
                    <button class="btn btn-primary" style="width:100%">{{profileType.cod}} - {{profileType.description}} </button>
                </ul>
            </div>
            <div  class="text-center" style="top: -50%;position: relative;">
                <h4 *ngIf="!loading && currentApp && isProfilesLoaded && (!profileTypes || profileTypes.length == 0)"> Não há tipos de perfil para esse aplicativo</h4>
            </div>
        </div>

        <div class="default-list-form">
            <profiletype-form (register)="registerNewProfileType($event)" (update)="updateProfileType($event)"></profiletype-form>
        </div>
    </div>
</body>