<body>
	<div class="container" style="padding-top:50px">
    	<div class="text-center" style="margin: auto; max-width:40%">
        	<h3>Cadastro de desenvolvedor da Nuvem Cívica</h3>
        </div>
    </div>
    <div class="container" style="padding-top:50px">
        <form style="margin: auto; max-width:40%" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="alert alert-danger" [hidden] = "!errorMessage">
                {{errorMessage}}
            </div>
            <div class="form-group">
                <label >Nome*</label>
                <input type="text" class="form-control" required [(ngModel)]="developer.name" ngControl="name" maxlength="100"/>
            </div>
            <div class="form-group">
                <label >E-mail*</label>
                <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="email@mail.com" [(ngModel)]="developer.email"  ngControl="email" required/>
            </div>

            <div class="form-group">
                <label >Sexo*</label>
                <select class="form-control" [(ngModel)]="developer.genre" required>
                    <option value="M">Masculino</option>
                    <option value="F">Feminino</option>
                </select>
            </div>

            <div class="form-group">
                <label >Um pouco sobre você</label>
                <textarea class="form-control" style="min-height:100px" [(ngModel)]="developer.about" ngControl="about" maxlength="250"></textarea>
            </div>
            <div class="form-group">
                <label >Senha*</label>
                <input type="password" class="form-control" required [(ngModel)]="developer.password" ngControl="password" />
            </div>
            <div class="form-group text-center">
                <h4> Aviso Legal</h4>
                <p class="text-justify">A Nuvem Cívica é uma plataforma destinada a apoiar somente projetos de aplicativos de CUNHO CÍVICO e SOCIAL, que não tenham ou demonstrem nenhum interesse ideológico, religioso ou partidário, e que respeitem valores éticos e direitos autorais. O TCU se reserva o direito de retirar das bases de dados da Nuvem Cívica qualquer conteúdo que seja considerado inapropriado, ofensivo ou que viole as leis vigentes.</p>
                <p class="text-justify">O desenvolvedor que deseja utilizar a Nuvem Cívica como plataforma de apoio para seus aplicativos deve estar ciente que os dados que nela armazenar são de sua responsabilidade e que poderá vir a responder por qualquer violação de direito autoral, ofensa ou abuso.</p>
                <p class="text-justify">Todos os dados abertos disponibilizados pelos webservices da Nuvem Cívica derivam de bases governamentais públicas e sofreram eventuais tratamentos de limpeza e aprimoramento, mas que não garantem a exatidão das informações ali contidas. O mesmo é verdade com relação a qualquer dado aberto distribuído na internet em geral. Logo o TCU não se responsabiliza por erros ou inconsistências contidas nesses dados mas procurará aperfeiçoa-los na medida do possível.</p>
                <p class="text-justify">Caso você tenha alguma dúvida ou queira avisar sobre conteúdo inapropriado ou que viole direitos autorais de terceiros, mande-nos um e-mail para <a href="http://denuncianuvemcivica@tcu.gov.br" target="_blank">denuncianuvemcivica@tcu.gov.br</a>.</p>
                <input type="checkbox" [(ngModel)]="aceptedTerms"/> 
                <label>Li e aceito os termos</label>
            </div>
            <div class="form-group">
                <button [disabled]="!aceptedTerms" type="submit" class="btn btn-default" style="min-width:48%">
                    Cadastrar
                    <div *ngIf="loading" style="top:5px;height:15px;width:15px;float:right;position:relative">
                        <loading-indicator></loading-indicator>
                    </div>
                </button>
                <a class="btn btn-default" style="min-width:50%" routerLink="/login" routerLinkActive="active">Cancelar</a>  
            </div>
        </form>
    </div>
</body>




