    <div class="container" style="padding-top:50px;width:100%">
    	<div class="text-center"  style="margin: auto; max-width:60%">
        	<h4>Selecione um de seus aplicativos e cadastre os tipos de postagem que irá gerar</h4>
        </div>
    </div>
    <div class="container" style="padding-top:30px; width:100%; height: auto">
        <form style="margin: auto; max-width:60%" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="alert alert-danger" [hidden] = "!errorMessage">
                {{errorMessage}}
            </div>
            <div class="alert alert-success" [hidden] = "!sucessMessage">
                {{sucessMessage}}
            </div>
            
            <div class="form-group">
                <label >Selecione o Aplicativo*</label>
                <select [disabled]="isUpdating" class="form-control" [(ngModel)]="selectedApp" (ngModelChange)="changeAppAction($event)" required>
                    <option *ngFor="let application of apps" [ngValue]="application">{{application.name}}</option>
                </select>
            </div>

            <div *ngIf="!loading && selectedApp && postTypes && postTypes.length > 0" class="form-group" >
                <label >Selecione o Tipo de Postagem Pai</label>
                <div>
                    <select class="form-control" style="min-width:85%;max-width:100%" [(ngModel)]="selectedParentPostType">
                        <option *ngFor="let parentType of postTypes" [ngValue]="parentType">{{parentType.cod}} - {{parentType.description}}</option>
                    </select>
                </div>
            </div>
            <!---->
            <div class="form-group" >
                <label >Selecione o Tipo de Objeto Relacionado</label>
                <select class="form-control" style="min-width:85%;max-width:100%" [(ngModel)]="selectedObjType">
                    <option *ngFor="let objType of objectTypes" [ngValue]="objType">{{objType.cod}} - {{objType.description}}</option>
                </select>
            </div>

            <div class="form-group">
                <label >Descrição do Tipo de Postagem*</label>
                <input  type="text" class="form-control" [(ngModel)]="currentPostType.description" maxlength="20" ngControl="description" required/> 
            </div>

             <div class="form-group">
                <label >Descrição dos Conteúdos</label> 
                <button type="button" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#myModal"></button>

                <textarea  type="text" class="form-control" style="min-height: 100px" [(ngModel)]="currentPostType.contentDescription"  maxlength="1000" ngControl="contentDescription">
                </textarea> 
            </div>


            <div class="form-group">
                <button *ngIf="isUpdating" type="submit" class="btn btn-default" style="min-width:50%">
                    Salvar
                    <span class="glyphicon glyphicon-pencil" style="margin-left: 10px"></span>
                    <div *ngIf="loading" style="top:7px;height:15px;width:15px;float:right;position:relative">
                        <loading-indicator></loading-indicator>
                    </div>
                </button>
                <button *ngIf="!isUpdating" type="submit" class="btn btn-default" style="min-width:50%">
                    Cadastrar
                    <div *ngIf="loading" style="top:5px;height:15px;width:15px;float:right;position:relative">
                        <loading-indicator></loading-indicator>
                    </div>
                </button>
                <button type="button" class="btn btn-default" style="min-width:49%" formnovalidate (click)= "clear()" >Limpar</button>
                <!--<a class="btn btn-default" style="min-width:50%" routerLink="/main" routerLinkActive="active">Cancelar</a>-->
                <!--<button type="button" class="btn btn-default" style="min-width:50%" formnovalidate >Cadastrar</button>-->
            </div>
        </form>


            <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"></button>
                        <h3 class="modal-title">Descrição de Tipos de postagem</h3>
                    </div>
                    <div class="modal-body">
                    <p>
                        O tipo de postagem é importante para a arquitetura da Nuvem Cívica pois permite que o aplicativo dê sentido a um comentário ou avaliação feito por seu usuário e o associe a algum objeto real descrito nos dados abertos. Assim, se o aplicativo cria uma opção para que seu usuário dê uma nota a um atendimento recebido em um hospital ou posto de assistência social, por exemplo, é importante que isso seja registrado no metamodelo como uma postagem de um tipo específico, criado para o aplicativo e descrito como “Avaliação de hospital” contendo na descrição qual a estrutura dessa postagem, se é uma nota ou avaliação textual. No campo “tipo de objeto relacionado” deve ser definido a classe de objetos, dentre as existentes nos endpoints de dados abertos, a que esse tipo de postagem se refere. No caso do exemplo seriam os estabelecimentos de saúde.
                    </p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" style="min-width: 100px">Ok</button>
                    </div>
                </div>
            </div>
        <!--<router-outlet></router-outlet>-->
    </div>

