    <div class="container" style="padding-top:50px;width:100%">
    	<div class="text-center"  style="margin: auto; max-width:60%">
        	<h4>Selecione um de seus aplicativos e cadastre os tipos de postagem que irá gerar</h4>
        </div>
    </div>
    <div class="container" style="padding-top:30px; width:100%; height: auto">
        <form style="margin: auto; max-width:60%" (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="alert alert-danger" [hidden] = "!errorMessage">
                {{errorMessage}}
            </div>
            <div class="alert alert-success" [hidden] = "!sucessMessage">
                {{sucessMessage}}
            </div>
            
            <div class="form-group">
                <label >Selecione o Aplicativo*</label>
                <select [disabled]="isUpdating" class="form-control" [(ngModel)]="selectedApp" (ngModelChange)="changeAppAction($event)" required>
                    <option *ngFor="let application of apps" [ngValue]="application">{{application.name}}</option>
                </select>
            </div>

            <div *ngIf="selectedApp && postTypes && postTypes.length > 0" class="form-group" >
                <label >Selecione o Tipo de Postagem Pai</label>
                <div>
                    <select class="form-control" style="min-width:85%;max-width:100%" [(ngModel)]="selectedParentPostType">
                        <option *ngFor="let parentType of postTypes" [ngValue]="parentType">{{parentType.cod}} - {{parentType.description}}</option>
                    </select>
                </div>
            </div>
            <!---->
            <!--<div class="form-group" >
                <label >Selecione o Tipo de Objeto Relacionado</label>
                <select class="form-control" style="min-width:85%;max-width:100%" [(ngModel)]="selectedObjType">
                    <option *ngFor="let objType of objectTypes" [ngValue]="objType">{{objType.cod}} - {{objType.description}}</option>
                </select>
            </div>-->

            <div class="form-group">
                <label >Descrição do Tipo de Postagem*</label>
                <input  type="text" class="form-control" [(ngModel)]="currentPostType.description" maxlength="20" ngControl="description" required/> 
            </div>

             <div class="form-group">
                <label >Descrição dos Conteúdos</label> 
                <button type="button" class="glyphicon glyphicon-question-sign" data-toggle="modal" data-target="#myModal"></button>

                <textarea  type="text" class="form-control" style="min-height: 100px" [(ngModel)]="currentPostType.contentDescription"  maxlength="1000" ngControl="contentDescription">
                </textarea> 
            </div>


            <div class="form-group">
                <button *ngIf="isUpdating" type="submit" class="btn btn-default" style="min-width:50%">
                    Salvar
                    <span class="glyphicon glyphicon-pencil" style="margin-left: 10px"></span>
                    <div *ngIf="loading" style="top:5px;height:15px;width:15px;float:right;position:relative">
                        <loading-indicator></loading-indicator>
                    </div>
                </button>
                <button *ngIf="!isUpdating" type="submit" class="btn btn-default" style="min-width:50%">
                    Cadastrar
                    <div *ngIf="loading" style="top:5px;height:15px;width:15px;float:right;position:relative">
                        <loading-indicator></loading-indicator>
                    </div>
                </button>
                <button type="button" class="btn btn-default" style="min-width:49%" formnovalidate (click)= "clear()" >Limpar</button>
                <!--<a class="btn btn-default" style="min-width:50%" routerLink="/main" routerLinkActive="active">Cancelar</a>-->
                <!--<button type="button" class="btn btn-default" style="min-width:50%" formnovalidate >Cadastrar</button>-->
            </div>
        </form>


            <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"></button>
                    <h2 class="modal-title">Sobre Descrição de Conteúdos</h2>
                </div>
                <div class="modal-body">
                    <p>Descrição detalhada sobre o tipo de conteúdo que será armazenado nesse tipo de postagem. É importante descrever de forma bem delhada o que cada campo dos conteúdos significa e qual a finalidade de armazenar cada um. Máximo 1000 cracteres.
                    <h2>Exemplo</h2>
                    <h3>Formato do Conteúdo</h3>
                    <p>O tipo de postagem é compartilhamento de preço de remédio</p>
                    <p>Os conteúdos desse tipo de postagem serão em geral armazenados no formato:</p>
                    <p>
                        {
                            "JSON": "{"latitude" : 31.3128903, "longitude": 12.8391083}",
                            "valor": 10.32
                        }
                    </p>
                    <h3>Descrição do conteúdo</h3>
                    <p>O conteúdo possui no campo valor o preço compartilhado pelo usuário e no campo JSON os valores de latitude e longitude que representam onde esse preco foi encontrado.</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
                </div>
                </div>

            </div>
        </div>
        <!--<router-outlet></router-outlet>-->
    </div>

